
#login-dialog {
  margin-left: 1em;
}

#login-dialog:hover {
  background-color: #18A1F0;
}

#cancel-dialog {
  margin-right: 2.5em;
  margin-left: 0.5em;

}


#buttons-dialog {
  justify-content: center;
}

mat-icon:hover {
cursor: pointer;
}



