

#buttons-dialog{
  width: 100%;
}
#save-dialog{
 float: right;
}

#creditcard-information{
  width: 100%;
  display: inline-block;
}

#number{
  float: left;
  width: 70%;
}

#cvv{
  float: right;
  width: 25%;
}

mat-icon:hover {
cursor: pointer;
}

.month-year-picker .mat-calendar-period-button {
  pointer-events: none;
}

.month-year-picker .mat-calendar-arrow {
  display: none;
}
