<mat-sidenav-container [hasBackdrop]="true">

  <mat-sidenav-content style="overflow: hidden;">
    <nav style="z-index: top;" class="navbar navbar-blue" id="menu-horizontal">
      <div id="menu-horizontal-buttons-left" *ngIf="roles != undefined">
        <button mat-icon-button (click)="navigateTo('browse')" style="margin-right: 5%;"><mat-icon>home</mat-icon></button>
        <button mat-button [matMenuTriggerFor]="menuBooks">Books</button>
        <mat-menu #menuBooks="matMenu">
          <button id="menu-button" mat-menu-item>Create Book</button>
          <button id="menu-button" mat-menu-item (click)="navigateTo('listMyBooks')">List my Books</button>
        </mat-menu>
        <button mat-button>Publishers</button>
        <button mat-button>Reviews</button>
      </div>

      <div id="menu-horizontal-buttons-right">
        <div id="unlogged" *ngIf="roles == undefined">
          <button mat-button (click)="openLogin()" >Login</button>
          <button mat-button [matMenuTriggerFor]="menuRegister">Register</button>
          <mat-menu #menuRegister="matMenu">
            <button id="menu-button" mat-menu-item (click)="register('writer')">Writer</button>
            <button id="menu-button" mat-menu-item (click)="register('publisher')">Publisher</button>
            <button id="menu-button" mat-menu-item (click)="register('reader')">Reader</button>
          </mat-menu>
        </div>
        <div id="logged" *ngIf="roles != undefined">
          <button mat-button (click)="logout()" >Logout</button>
          <button mat-button>Profile</button>
        </div>
      </div>

    </nav>


    <main id="principal">

      <router-outlet >
      </router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
